/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f0f0f;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: #0f0f0f;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}